# Relatório de Análise 2

### Importando dados de votação no estado de SP

In [1]:
import pandas as pd

In [2]:
dados = pd.read_table('vsec_1t_SP/votacao_secao_2012_SP.txt', sep = ';', encoding = 'latin-1', header = None)
dados.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,63452,63452,CONCHAL,75,357,13,VEREADOR,45,5
1,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,63452,63452,CONCHAL,75,357,13,VEREADOR,33,1
2,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,63452,63452,CONCHAL,75,357,13,VEREADOR,25,13
3,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,63452,63452,CONCHAL,75,357,13,VEREADOR,23,1
4,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,63452,63452,CONCHAL,75,357,13,VEREADOR,11,1

In [3]:
dados.shape

(8363241, 15)

### FIltrando somente os votos da cidade de São Paulo

In [4]:
dados.rename(columns = {8 : 'Cidade'}, inplace = True)
selection = (dados.Cidade == 'SÃO PAULO')
dados = dados[selection]
dados.head()

,0,1,2,3,4,5,6,7,Cidade,9,10,11,12,13,14
3857621,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,10,47
3857622,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,13,82
3857623,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,15,61
3857624,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,23,13
3857625,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,29,1

In [5]:
dados.shape

(2381878, 15)

### Exportando dados

In [6]:
dados.to_csv('dados/votos.csv', sep = ';', index = False, encoding = 'latin-1', header = False)