# Relatório de Análise 3

### Importando dados de seções no estado de SP

In [1]:
import pandas as pd

In [2]:
dados = pd.read_table('detalhe_votacao_secao_2012/detalhe_votacao_secao_2012_SP.txt', sep = ';', encoding = 'latin-1', header = None)
dados.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,14/10/2015,13:28:09,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,61018,61018,ADAMANTINA,157,...,11,PREFEITO,371,283,88,269,3,11,0,0
1,14/10/2015,13:28:09,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,61018,61018,ADAMANTINA,157,...,13,VEREADOR,371,283,88,249,5,4,25,0
2,14/10/2015,13:28:09,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,61018,61018,ADAMANTINA,157,...,11,PREFEITO,375,284,91,263,12,9,0,0
3,14/10/2015,13:28:09,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,61018,61018,ADAMANTINA,157,...,13,VEREADOR,375,284,91,243,16,5,20,0
4,14/10/2015,13:28:09,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,61018,61018,ADAMANTINA,157,...,11,PREFEITO,374,285,89,268,8,9,0,0

### Filtrando somente seções na cidade de São Paulo

In [3]:
dados.rename(columns = {8 : 'Cidade', 9 : 'Zona', 10 : 'Seção'}, inplace = True)
selection = (dados.Cidade == 'SÃO PAULO')
dados = dados[selection][['Zona', 'Seção']]
dados.drop_duplicates(inplace = True)
dados.head()

        Zona  Seção
112812     1      1
112814     1      2
112816     1      3
112818     1      4
112820     1      5

In [4]:
dados.shape

(23684, 2)

In [5]:
zonas = dados.Zona.drop_duplicates()
zonas.head()

112812    1
113772    2
114780    3
115238    4
116096    5
Name: Zona, dtype: int64

In [6]:
zonas.shape

(58,)

### Exportando Zonas e Seções

In [7]:
dados.to_csv('dados/secoes.csv', sep = ';', index = False, encoding = 'latin-1', header = False)
zonas.to_csv('dados/zonas.csv', sep = ';', index = False, encoding = 'latin-1', header = False)