# Relatório de Análise 4

### Analisando dados de votação na cidade de São Paulo

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/votos.csv', sep = ';', encoding = 'latin-1', header = None)
dados.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,10,47
1,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,13,82
2,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,15,61
3,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,23,13
4,08/10/2012,19:39:52,2012,1,ELEIÇÃO MUNICIPAL 2012,SP,71072,71072,SÃO PAULO,417,78,11,PREFEITO,29,1

In [3]:
dados.shape

(2381878, 15)

### Filtrando apenas para candidatos a vereador
- Observar que não há dados com quantidade de votos na seção nulo ou zero

In [4]:
dados.rename(columns = {8 : 'Cidade', 9 : 'Zona' , 10 : 'Seção', 12 : 'Cargo', 13 : 'Candidato', 14: 'QtdVotos' }, inplace = True)
selection = (dados.Cargo == 'VEREADOR') & (dados.Candidato > 999)
dados = dados[selection][['Candidato', 'Zona', 'Seção', 'QtdVotos']]
dados.sort_values(by = 'QtdVotos', inplace = True)
dados.head()

         Candidato  Zona  Seção  QtdVotos
237252       10000   417     78         1
1491716      33140   371    263         1
1491715      31192   371    263         1
1491714      29329   371    263         1
1491710      25100   371    263         1

In [5]:
dados.shape

(1860152, 4)

### Gerando tabela de frequência por seção eleitoral

In [6]:
freq_secao = pd.Series(dados.Candidato.value_counts().sort_values(ascending = False)).rename_axis('Candidato').reset_index(name='Frequência')
freq_secao.head()

   Candidato  Frequência
0      43666       21551
1      45190       20693
2      11333       18834
3      40096       18281
4      65000       18107

### Modificando a tabela de dados para obter observações únicas por zona eleitoral

In [7]:
dados.drop(['Seção','QtdVotos'], axis = 1, inplace = True)
dados.head()

         Candidato  Zona
237252       10000   417
1491716      33140   371
1491715      31192   371
1491714      29329   371
1491710      25100   371

In [8]:
dados.shape

(1860152, 2)

In [9]:
dados.drop_duplicates(inplace = True)
dados.head()

         Candidato  Zona
237252       10000   417
1491716      33140   371
1491715      31192   371
1491714      29329   371
1491710      25100   371

In [10]:
dados.shape

(50496, 2)

### Gerando tabela de frequência por zona eleitoral

In [11]:
freq_zona = pd.Series(dados.Candidato.value_counts().sort_values(ascending = False)).rename_axis('Candidato').reset_index(name='Frequência')
freq_zona.head()

   Candidato  Frequência
0      13130          58
1      50077          58
2      22122          58
3      13100          58
4      13112          58

### Exportando tabelas de frequência

In [12]:
freq_secao.to_csv('dados/freq_secao.csv', sep = ';', index = False, encoding = 'latin-1', header = False)
freq_zona.to_csv('dados/freq_zona.csv', sep = ';', index = False, encoding = 'latin-1', header = False)